html {height:100%}
body {height:100%}
.container-fluid {
	z-index:100;
	position:relative;
	background:#fafafa;
}

#mainMap {
height: 100%;
position: absolute;
top: 0;
bottom: -200px;
left: 0;
right: 0;
z-index: 0;
}